header.main-head
	.container
		.row
			.mnu_line.clearfix
				.col-lg-2.col-lg-4.col-md-6.col-sm-6.col-xs-12
					a.logo(href="#")
						img(src="assets/img/logo.svg", alt="ОВК Строй")
				.col-lg-3.col-lg-push-7.col-md-6.c0l-sm-6.col-xs-12
					.phone
						.phone-wrap
							i.fa.fa-mobile
							span  +7 (495) 99-99-99
						a.callback(href="#") Заказать обратный звонок
					a.toggle-mnu.hidden-lg(href="")
						span
				.col-sm-7.col-sm-pull-3
					nav.main-mnu.hidden-md.hidden-sm.hidden-xs
						ul
							li.active
								a(href="#") Главная
							li
								a(href="#") Монтаж
							li
								a(href="#") Проектирование
							li
								a(href="#") Оборудование
							li
								a(href="#") Контакты
				.col-xs-12
					nav.main-mnu.hidden-mnu.hidden-lg.clearfix
							ul
								li.active
									a(href="#") Главная
								li
									a(href="#") Монтаж
								li
									a(href="#") Проектирование
								li
									a(href="#") Оборудование
								li
									a(href="#") Контакты
			.header-content.clearfix
				.col-sm-6
					h1 Монтаж систем вентиляции и кондиционирования
					ul.home-list
						li
							i.fa.fa-check
							Работаем без предоплаты
						li
							i.fa.fa-check
							Скидки до 40%
						li
							i.fa.fa-check
							Бесплатный выезд инженера
					a.button(href="#")
						Отправить заявку
				.col-sm-6
					.top-img-wrap.hidden-xs
						img.responsive-img(src="assets/img/header_img.png", alt="ОВК Строй")
				.col-sm-12
					.mw-wrapper
						.mouse-icon
							.wheel
