section.s-wide.s-works.s-dark
	span.container-fluid
		span.row
			span.col-sm-12
				h2 Выполненные работы
			span.portfolio.clearfix
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/1.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/1.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/2.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/2.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/3.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/3.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/4.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/4.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/5.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/5.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/6.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/6.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/7.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row
										span.col-sm-12
											img.responsive-img(src="assets/img/works/7.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
				span.col-lg-3.col-md-4.col-sm-6
					a(href="#").portfolio-item
						img.responsive-img.portfolio-img(src="assets/img/works/8.jpg", alt="")
						span.portfolio-item-content
							i.fa.fa-search-plus
							h3 Историческое здание - особняк представительского класса
						span.hidden
							span.portfolio-popup
								span.container-fluid
									span.row.clearfix
										span.col-sm-12
											img.responsive-img(src="assets/img/works/8.jpg", alt="")
									span.row
										span.col-sm-12
											h2 Историческое здание - особняк представительского класса
											span.portfolio-popup-text.clearfix
												span.row
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-map-marker
															strong Адрес:
														span.td
															| Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.
													span.col-sm-6
														span.td.wsnw
															i.fa.fa-cog
															strong Работы:
														span.td
															| Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.
											
										
