section.s-wide.s-dark.s-adv
	.container
		.row
			.col-md-3.col-sm-6
				.s-adv-item
					h3#[span(data-count="6")] лет на рынке
					p 6 лет успешной работы на рынке #[br]промышленной вентиляции
			.col-md-3.col-sm-6
				.s-adv-item
					h3#[span(data-count="150")] объектов
					p более 150 выполненных работ #[br]по объектам
			.col-md-3.col-sm-6
				.s-adv-item
					h3#[span(data-count="120")] партнеров
					p более 120 партнеров и #[br]поставщиков
			.col-md-3.col-sm-6
				.s-adv-item
					h3#[span(data-count="250000")] кв.м
					p Установленных #[br]воздуховодов
	
