section.s-wide.s-gray.s-testimonials
  .container
    .row
      .col-sm-12
        h2 Отзывы клиентов о нашей работе
      .col-sm-4
        .testimonials-item
          .rounded-img-wrap
            img(src="assets/img/peoples/member2.png", alt="Alt")
          .testimonials-head
            h4 Валентина Петровна
            p ООО "Самое длинное название компании в истории"
          .testimonials-desc
            h4 Невероятно замечательная компания
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis quidem quod consequuntur dicta totam, facilis rerum, natus.
      .col-sm-4
        .testimonials-item
          .rounded-img-wrap
            img(src="assets/img/peoples/member3.png", alt="Alt")
          .testimonials-head
            h4 Вячеслав
            p ООО "Home Vide"
          .testimonials-desc
            h4 Невероятно замечательная компания
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis.
      .col-sm-4
        .testimonials-item
          .rounded-img-wrap
            img(src="assets/img/peoples/member1.png", alt="Alt")
          .testimonials-head
            h4 Валентина Петровна
            p ООО "Протон"
          .testimonials-desc
            h4 Невероятно замечательная компания ,которую только можно представить.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis quidem quod consequuntur dicta totam, facilis rerum, natus.
