section.s-wide.s-direct
	.container
		.row
			.col-sm-12
				h2 Основные направления услуг
			.col-sm-4
				.item-vertical
					img.img-svg(src="assets/img/services/1.svg", alt="Монтаж")
					h3 Монтаж
					p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
					a(href="#").button.button-small.button-gray Заказать #[span.hidden-sm монтаж]
			.col-sm-4
				.item-vertical
					img.img-svg(src="assets/img/services/2.svg", alt="Проектирование")
					h3 Проектирование
					p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
					a(href="#").button.button-small.button-gray Заказать #[span.hidden-sm проектирование]
			.col-sm-4
				.item-vertical
					img.img-svg(src="assets/img/services/3.svg", alt="Оборудование")
					h3 Оборудование
					p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
					a(href="#").button.button-small.button-gray Заказать #[span.hidden-sm оборудование]
