section.s-wide.s-gray.s-callback
	.container
		.row
			.col-sm-12
				h2 С кем  можно связаться через сайт
			.col-sm-4
				.item-vertical-2
					.rounded-img-wrap
						img(src="assets/img/peoples/member1.png", alt="")
					h3 Александр Васильевич
					p Менеджер продаж
					.iv-phone
							i.fa.fa-mobile
							| +7 (495) 99-99-99

			.col-sm-4
				.item-vertical-2
					.rounded-img-wrap
						img(src="assets/img/peoples/member2.png", alt="")
					h3 Марина
					p Менеджер продаж
					.iv-phone
							i.fa.fa-mobile
							| +7 (495) 99-99-99

			.col-sm-4
				.item-vertical-2
					.rounded-img-wrap
						img(src="assets/img/peoples/member3.png", alt="")
					h3 Вячеслав
					p Директор по производству
					.iv-phone
							i.fa.fa-mobile
							| +7 (495) 99-99-99
