section.s-wide.s-equipment
	.container
		.row
			.col-md-12
				h2 Поставляемое оборудование
			.col-sm-12
				.row
					.carousel-eq
						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/korf.svg", alt="Korf")
								.carousel-text
									h3 Korf
									p Российский производитель качественного оборудования с 13-ти летним стажем
								a.button.button-small.button-gray(href="#") Перейти в каталог

						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/daikin.svg", alt="Daikin")
								.carousel-text
									h3 Daikin
									p Компания Daikin является лидером на рынке экологично безопасных систем отопления, вентиляции и кондиционирования
								a.button.button-small.button-gray(href="#") Перейти в каталог

						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/mitsubishi.svg", alt="Mitsuishi")
								.carousel-text
									h3 Mitsubishi Electrick
									p ицубиси Электрик» — глобальный лидер в области электроники и электронного оборудования
								a.button.button-small.button-gray(href="#") Перейти в каталог

						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/venterra.svg", alt="Venterra")
								.carousel-text
									h3 Venterra
									p Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.
								a.button.button-small.button-gray(href="#") Перейти в каталог

						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/venterra.svg", alt="Venterra")
								.carousel-text
									h3 Venterra
									p Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.
								a.button.button-small.button-gray(href="#") Перейти в каталог

						.carousel-item
							.carousel-wrap
								.car-img-wrap
									img.responsive-img(src="assets/img/bg-car.png", alt="bg-carousel")
									img.img-svg.responsive-img(src="assets/img/partners/venterra.svg", alt="Venterra")
								.carousel-text
									h3 Venterra
									p Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.
								a.button.button-small.button-gray(href="#") Перейти в каталог
