section.s-wide.s-brands
	.container
		.row
			.col-sm-12
				h2 Партнеры компании
			.col-sm-12
				.carousel-brands
					.carousel-brand
						a
							img(src="assets/img/partners/daikin.svg", alt="Daikin")
					.carousel-brand
						a
							img(src="assets/img/partners/amalva.svg", alt="Amalva")
					.carousel-brand
						a
							img(src="assets/img/partners/arktos.svg", alt="Arktos")
					.carousel-brand
						a
							img(src="assets/img/partners/bewfort.svg", alt="Bewfort")
					.carousel-brand
						a
							img(src="assets/img/partners/general.svg", alt="General")
					.carousel-brand
						a
							img(src="assets/img/partners/korf.svg", alt="Korf")
					.carousel-brand
						a
							img(src="assets/img/partners/lg.svg", alt="Lg")
					.carousel-brand
						a
							img(src="assets/img/partners/mitsubishi.svg", alt="Mitsubishi")