section.s-wide.s-gray.s-profile
	.container
		.row
			.col-sm-6
				.home-gallery-wrap
					a.gallery-tizer-wrap.mfp-gallery(href="assets/img/photos/0.jpg", style="background-image: url(assets/img/gallery_photo.jpg)")
						.tizer-triangle
							i.fa.fa-picture-o
						.table
							.tr
								.td
									span
										i.fa.fa-play-circle
										#[br]
										|Галерея
					a.mfp-gallery(href="assets/img/photos/1.jpg")
					a.mfp-gallery(href="assets/img/photos/2.jpg")
					a.mfp-gallery(href="assets/img/photos/3.jpg")
			.col-sm-6
				h2 Кондиционирование и вентиляция это наш профиль
				p Обращаясь в нашу компанию,вы гарантированно получаете высокое качество проектирования и монтажа вентиляционных систем. ОВК СТРОЙ - это команда профессионалов с многолетним опытом работы на рынке
				ul.home-list
							li
								i.fa.fa-plus
								Работаем без предоплаты
							li
								i.fa.fa-plus
								Бесплатный выезд инженера
				.row
					.col-md-6
						a.button(href="#")
							Сделать заказ
					.col-md-6
						.certificate-wrap
							a.button.button-accent.mfp-certificate(href="assets/img/certificate/certificate.jpg")
								#[span.hidden-md.hidden-sm.hidden-xs Наши] Сертификаты
							a.mfp-certificate(href="assets/img/certificate/certificate_2.jpg")
								
