
<section class="s-wide s-gray s-callback">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>С кем  можно связаться через сайт</h2>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical-2">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member1.png" alt=""/></div>
          <h3>Александр Васильевич</h3>
          <p>Менеджер продаж</p>
          <div class="iv-phone"><i class="fa fa-mobile"></i>+7 (495) 99-99-99</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical-2">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member2.png" alt=""/></div>
          <h3>Марина</h3>
          <p>Менеджер продаж</p>
          <div class="iv-phone"><i class="fa fa-mobile"></i>+7 (495) 99-99-99</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical-2">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member3.png" alt=""/></div>
          <h3>Вячеслав</h3>
          <p>Директор по производству</p>
          <div class="iv-phone"><i class="fa fa-mobile"></i>+7 (495) 99-99-99</div>
        </div>
      </div>
    </div>
  </div>
</section>