
<section class="s-wide s-direct">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Основные направления услуг</h2>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical"><img src="assets/img/services/1.svg" alt="Монтаж" class="img-svg"/>
          <h3>Монтаж</h3>
          <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#" class="button button-small button-gray">Заказать <span class="hidden-sm">монтаж</span></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical"><img src="assets/img/services/2.svg" alt="Проектирование" class="img-svg"/>
          <h3>Проектирование</h3>
          <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#" class="button button-small button-gray">Заказать <span class="hidden-sm">проектирование</span></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="item-vertical"><img src="assets/img/services/3.svg" alt="Оборудование" class="img-svg"/>
          <h3>Оборудование</h3>
          <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#" class="button button-small button-gray">Заказать <span class="hidden-sm">оборудование</span></a>
        </div>
      </div>
    </div>
  </div>
</section>