
<section class="s-wide s-gray s-profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="home-gallery-wrap mfp-gallery"><a href="assets/img/photos/0.jpg" style="background-image: url(assets/img/gallery_photo.jpg)" class="gallery-tizer-wrap">
            <div class="tizer-triangle"><i class="fa fa-picture-o"></i></div>
            <div class="table">
              <div class="tr">
                <div class="td"><span><i class="fa fa-play-circle"></i><br/>Галерея</span></div>
              </div>
            </div></a><a href="assets/img/photos/1.jpg"></a><a href="assets/img/photos/2.jpg"></a><a href="assets/img/photos/3.jpg"></a></div>
      </div>
      <div class="col-sm-6">
        <h2>Кондиционирование и вентиляция это наш профиль</h2>
        <p>Обращаясь в нашу компанию,вы гарантированно получаете высокое качество проектирования и монтажа вентиляционных систем. ОВК СТРОЙ - это команда профессионалов с многолетним опытом работы на рынке</p>
        <ul class="home-list">
          <li><i class="fa fa-plus"></i>Работаем без предоплаты</li>
          <li><i class="fa fa-plus"></i>Бесплатный выезд инженера</li>
        </ul>
        <div class="row">
          <div class="col-md-6"><a href="#" class="button">Сделать заказ</a></div>
          <div class="col-md-6">
            <div class="certificate-wrap mfp-gallery"><a href="assets/img/certificate/certificate.jpg" class="button button-accent"><span class="hidden-md hidden-sm hidden-xs">Наши</span> Сертификаты</a><a href="assets/img/certificate/certificate_2.jpg"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>