
<section class="s-wide s-gray s-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Отзывы клиентов о нашей работе</h2>
      </div>
      <div class="col-sm-4">
        <div class="testimonials-item">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member2.png" alt="Alt"/></div>
          <div class="testimonials-head">
            <h4>Валентина Петровна</h4>
            <p>ООО "Самое длинное название компании в истории"</p>
          </div>
          <div class="testimonials-desc">
            <h4>Невероятно замечательная компания</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis quidem quod consequuntur dicta totam, facilis rerum, natus.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonials-item">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member3.png" alt="Alt"/></div>
          <div class="testimonials-head">
            <h4>Вячеслав</h4>
            <p>ООО "Home Vide"</p>
          </div>
          <div class="testimonials-desc">
            <h4>Невероятно замечательная компания</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonials-item">
          <div class="rounded-img-wrap"><img src="assets/img/peoples/member1.png" alt="Alt"/></div>
          <div class="testimonials-head">
            <h4>Валентина Петровна</h4>
            <p>ООО "Протон"</p>
          </div>
          <div class="testimonials-desc">
            <h4>Невероятно замечательная компания ,которую только можно представить.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat labore maiores eveniet temporibus consequatur eius velit laudantium voluptate esse pariatur veritatis quidem quod consequuntur dicta totam, facilis rerum, natus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>