
<section class="s-wide s-brands">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Партнеры компании</h2>
      </div>
      <div class="col-sm-12">
        <div class="carousel-brands">
          <div class="carousel-brand"><a><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/amalva.svg" alt="Amalva"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/arktos.svg" alt="Arktos"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/bewfort.svg" alt="Bewfort"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/general.svg" alt="General"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/korf.svg" alt="Korf"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/lg.svg" alt="Lg"/></a></div>
          <div class="carousel-brand"><a><img src="assets/img/partners/mitsubishi.svg" alt="Mitsubishi"/></a></div>
        </div>
      </div>
    </div>
  </div>
</section>