
<section class="s-wide s-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="discount">Всем клиентам скидки</h2>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <p class="tizer-text">Всем клиентам обратившимся в нашу компанию до октября 2016 года мы предоставляем уникальную возможность получить <strong>скидку до 40%</strong>.</p><a href="#" class="button">Отправить заявку</a>
      </div>
    </div>
  </div>
</section>