<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/css/main.css">

	</head>
	<body class="ishome">

			{{ content }}
		
		
		<script src="assets/js/modernizer.js"></script>
		<script src="assets/js/jquery-1.11.2.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/jquery.animateNumber.min.js"></script>
		<script src="assets/js/jquery.equal-heights.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>
